<% if obj.errors.any? %>
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <%= pluralize(obj.errors.count, 'error') %>
    <ul>
      <% obj.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end%>
    </ul>
  </div>
<% end%>
