<div class="container">
  <h1>Hello from home page of articles</h1>

  <%= render 'messages/alert' %>

  <%= link_to 'New Article', new_article_path, role: 'button', class: 'btn btn-outline-info mb-2' %>
  <%= render 'article', obj: @articles %>
</div>
