<div class="container">
  <h1 class="text-center">Hi <%= @user.name %>, Welcome to your profile</h1>
  <div class="row">
    <div class="col-12 text-center">
      <%= gravatar_for @user, size: 250 %>
    </div>
  </div>
  <h3>My article</h3>
  <%= render 'articles/article', obj:@user.article %>
  
  <%= render 'messages/alert', obj: @user %>
</div>
